@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
button{
    border: none;
    width: 100px;
    height: 30px;
    background-color: royalblue;
    color: black;
    font-size: 20px;
    border: black;
    border-radius: 5px;
}


input[type="number"]{
background-color: white;
border: lime;
color: black;
height: 30px;
width: 170px;
font-size: 2vw;
border-radius: 5px;
position: absolute;
top: 100px;
left: 680px;
border: 3px solid black;
}

h1{
    font-size: 3vw;
    color: black;
    position: absolute;
    top: 125px;
    left: 650px;
    width: 300px;
    position: absolute;
    width: 200px;

}

body{
    text-align: center;
    background: linear-gradient(to left, blue, purple, purple);
}

button:hover{
    background-color: lightskyblue;
    cursor: pointer;
}

#background{
    width: 450px;
    height: 500px;
    background-color: white;
    margin: auto;
    margin-left: 540px;
    border-radius: 30px;
}

#seconds{
    position: absolute;
    top: 400px;
    left: 560px;
}
#minutes{
    position: absolute;
    top: 400px;
    left: 720px;
}

#hours{
    position: absolute;
    top: 400px;
    left: 880px;
}

section
{
    position: absolute;
    top: 100px;
}

#days {
    border: none;
    width: 100px;
    height: 30px;
    background-color: royalblue;
    color: white;
    font-size: 20px;
    border: black;
    border-radius: 5px;
}
h2 {
    font-size: 2.4rem;
}
body {
    font-family: 'Roboto';
}